/* 
    Created on : 2 jun. 2022, 16:28:11
    Author     : Oscar Sanchez Boza (Hades)
    Author     : Luciana Madrigal Ocampo
*/

@import url('https://fonts.googleapis.com/css2?family=Blaka&family=Open+Sans&display=swap'); /******SANS 1******/
@import url('https://fonts.googleapis.com/css2?family=Blaka&family=Blaka+Hollow&family=Open+Sans&display=swap');/*****BLAKA 2*****/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");/*****Monserrat*****/
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');/*****Roboto*****/
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500&display=swap');


*{
    margin:0;
    padding:0;
}

body
{
    background-color: #768085;
    background-image: linear-gradient(160deg, #768085 0%, #0d0e0e 100%);

}

a{
    text-decoration: none;
    color: white;
}

.nav-bar h1{
    font-family: 'Roboto Mono', monospace;
}

.nav-bar{
    font-family: "Montserrat", sans-serif;
    padding: 20px 20px 20px 20px;
    position: relative;
    color: white;
    font-size: 20px;
    width: 100%;
    display: inline-block;
    align-items: center;
    left: 50%;
    box-sizing: border-box;
}



ul li{
    font-weight: 600;
}

nav ul li {

    display: inline-block;
    list-style: none;
    margin: 0px 20px;
}

.logo{
    position: relative;
    display: inline-block;

}

.content{
    position: relative;
    top: 50px;
    bottom: 50px;
    padding: 50px;
    display: inline-block;
    position: relative;
    width: 30%;
    left: 20%;
    height: 5in;
    color: white;
    font-family: 'Josefin Sans', sans-serif;
    box-sizing: content-box;
}

.logo{
    display: inline-block;
    position: relative;
    box-sizing: border-box;
    right: 50%;
    top: 20px;
    width: 50px;
    height: 50px;

}

.logo img{
    max-height: 80px;
    max-width: 80px;
}

.nombre{
    display: inline-block;
    position: relative;
    right: 44%;
    bottom: 33px;
}

.content p{
    padding-top: 60px;
    padding-left: 40px;
    font-size: 30px;
}

.content h1{
    position: relative;
    font-size: 80px;
}

.imagen{
    width:600px;
    height: 400px;
    display: inline-block;
    position: relative;
    left: 120%;
    bottom: 5in;
}

/*
.container{
    height:200vh;
    width:100%;
    background-position:center;
    background-left: 10%;
    background-right: 10%;
    box-sizing: border-box;
    position:relative;
}

.navbar{
    height:15vh;
    width: 100%;
    margin:auto;
    display:flex;
    align-items: center;
}

.logo{
    height: 80%;
    bottom: 10px;
    right: 10px;
    left: 20px;
    margin-left: 20px;
}

nav{
    flex:1;
    padding-left: 60px;
}

nav ul li{
    display:inline-block;
    list-style:none;
    margin:0px 20px;
}

nav ul li a{
    text-decoration: none;
    color:darkorchid;
}


.content h1{
    font-size: 30px;
    font-family: 'Blaka', cursive;
    font-family: 'Blaka Hollow', cursive;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-weight: 85;
    margin-top:40px;
    margin-left:40px;
    margin-right: 40px;
    margin-bottom: 15px;
    color:green;
}

.content p{
    font-family: 'Blaka Hollow', cursive;
    font-size:60px;
    color:blueviolet;
    margin-left: 450px;
}

.imagen{
    height: 35%;
    position:absolute;
    bottom:700px;
    right: 240px;
}

.banner{
    height: 50%;
    bottom: 10px;
    right: 10px;
}
*/
