/* 
    Created on : 2 jun. 2022, 16:28:11
    Author     : Oscar Sanchez Boza (Hades)
    Author     : Luciana Madrigal Ocampo
*/

@import url('https://fonts.googleapis.com/css2?family=Blaka&family=Open+Sans&display=swap'); /******SANS 1******/
@import url('https://fonts.googleapis.com/css2?family=Blaka&family=Blaka+Hollow&family=Open+Sans&display=swap');/*****BLAKA 2*****/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");/*****Monserrat*****/
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');/*****Roboto*****/
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500&display=swap');


*{
    margin:0;
    padding:0;
}

.part2{
    background-color: #ea1538;
    display: block;
    position: relative;
    width: 100%;
    bottom: 10em;
    height: 100%;
    padding: 60px;
}

.card-body-about:hover{
    transform: translate(10px, 20px);
}

.part2 h1{
    width: 15em;
    padding: 20px;
}
.part2 h1:hover{
    font-size: 50px;
}

.part2 tabla{
    background-color: red;
    display: block;
    position: relative;
    width: 100%;
}
.tabla{
    position: relative;
    display: inline-block;
    top: 5em;
}

button{
    font-size: 20px;  
}

body
{
    background-image: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)),url(../images/BrokenDreamsLandscape.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;

}




.svg{
    bottom: 50px;
    width: 100%;
    display: inline-block;
    position: relative;
}

.svg img{
    width: 100%;
}


.footer{
    position: relative;
    display: block;
}

.container{
    width: 40em;
    height: 30em;
    position: relative;
    box-sizing: content-box;
    display: inline-block;
    left: 10em;
    top: 5em;

}

.container h1{
    color: white;
    font-weight: bold;
    padding: 20px;
    font-size: 50px;
}

.container p{
    color: white;
    font-size: 40px;
}

.img{
    width: 50em;
    height: 50em;
    position: relative;
    display: inline-block;
    left: 25em;
    bottom: 15em;
}

.img img{
    width: 50em;
    height: 50em;

}

