
@import url('https://fonts.googleapis.com/css2?family=Blaka&family=Open+Sans&display=swap'); /******SANS 1******/
@import url('https://fonts.googleapis.com/css2?family=Blaka&family=Blaka+Hollow&family=Open+Sans&display=swap');/*****BLAKA 2*****/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");/*****Monserrat*****/
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');/*****Roboto*****/
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500&display=swap');/*****Josefin*****/


*{
    margin:0;
    padding:0;
}

body
{
    background-image: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)),url(../images/BrokenDreamsLandscape.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    height: 1800px;
    background-attachment: fixed;
    background-size: cover;
}

.content p{
    font-weight: 200;
    font-size: 20px;
}

a{
    text-decoration: none;
    color: white;
}

.nav-bar h1{
    font-family: 'Roboto Mono', monospace;
}

.nav-bar{
    font-family: "Montserrat", sans-serif;
    padding: 20px 20px 20px 20px;
    position: fixed;
    color: white;
    font-size: 20px;
    width: 100%;
    display: inline-block;
    align-items: center;
    left: 50%;
    box-sizing: border-box;
}

ul li{
    font-weight: 600;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 0px 20px;
}

.logo{
    display: inline-block;
    position: relative;
    box-sizing: border-box;
    right: 50%;
    top: 20px;
    width: 50px;
    height: 50px;
}

.logo img{
    max-height: 80px;
    max-width: 80px;
}

.nombre{
    display: inline-block;
    position: relative;
    right: 44%;
    bottom: 33px;
}

.divider{
    background-color: #525254;
    background-image: linear-gradient(160deg, #525254 10%, #ffffff 51%);
    display: inline-block;
    position: relative;
    height: 2000px;
    width: 40%;
    right: 54%;
    bottom: 133px;
    z-index: -1;
}

.unreal{
    display: inline-block;
    position: relative;
    top: 17%;
    left: 10%
}
.unreal img{
    display: inline-block;
    position: relative;
    width: 300px;
    height: 300px;

}

.content{
    position: relative;
    top: 16%;
    bottom: 50px;
    padding: 50px;
    display: inline-block;
    position: relative;
    width: 35%;
    left: 15%;
    height: 5in;
    color: white;
    font-family: 'Josefin Sans', sans-serif;
    box-sizing: content-box;
}

.content h1{
    font-size: 70px;
}

.noticia1{
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(../images/imgEscaleras.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    position: relative;
    display: block;
    top: 10em;
    width: 100%;
    height: 40%;
    color: white;
    font-family: 'Josefin Sans', sans-serif;
    z-index: -1;

}

.importante h1{
    position: relative;
    display: inline-block;
    font-size: 2em;
    top: 5em;
    left: 8em;
}

.titulo h1{
    position: relative;
    display: inline-block;
    font-size: 80px;
    ;
    top: 200px;
    left: 3.1em;
}

.text{
    width: 300px;
    height: 300px;
    position: relative;
    display: inline-block;
    top: 14em;
    left: 16em;
}
.text p{
    position: relative;
    display: inline-block;
    font-size: 30px;

}

.boton .botons{
    position: relative;
    display: inline-block;
    font-family: 'Josefin Sans', sans-serif;
    width: 7em;
    height: 3em;
    background: #880808;
    border: none;
    padding: 12px;
    color: white;
    margin: 16px 0;
    font-size: 2em;
    left: 50%;
    bottom: 2em;
    border-radius: 5px;

}

input{
    cursor: pointer;
}

.recentarticles{
    position: relative;
    display: block;
    background-color: white;
    width:50%;
    height: 100em;
    top: 10em;

}

.separador{
    top:10em;
    height:10em;
}

.recentarticles h1{
    position: relative;
    display: inline-block;
    font-family: 'Roboto', sans-serif;
    top: 1em;
    font-weight: bold;
    left: 9em;

}

.article1{
    position: relative;
    display: block;
    top: 6em;
    left: 3em;
    width: 30em;
    font-family: 'Josefin Sans', sans-serif;
}

.article1 h2{
    font-size: 2em;
}

.article1 h4{
    position: relative;
    display: block;
    top:15px;
    font-weight: 100;
}

.article1 h5{
    position: relative;
    display: block;
    top:28px;
    font-size: 17px;
}

.imagen1{
    position: relative;
    display: block;
    width: 100px;
    height: 200px;
    left: 20em;
}


.article1 img{
    position: relative;
    display: block;
    width: 250px;
    height: 150px;
    left: 13em;
    bottom: 7em;
}

/* ------------------------------------------------*/

.article2{
    position: relative;
    display: block;
    top: 6em;
    left: 3em;
    width: 30em;
    font-family: 'Josefin Sans', sans-serif;
}

.article2 h2{
    font-size: 2em;
}

.article2 h4{
    position: relative;
    display: block;
    top:15px;
    font-weight: 100;
}

.article2 h5{
    position: relative;
    display: block;
    top:28px;
    font-size: 17px;
}

.imagen2{
    position: relative;
    display: block;
    width: 100px;
    height: 200px;
    left: 20em;
}


.article2 img{
    position: relative;
    display: block;
    width: 250px;
    height: 150px;
    left: 13em;
    bottom: 7em;
}


/* ------------------------------------------------*/

.article3{
    position: relative;
    display: block;
    top: 6em;
    left: 3em;
    width: 30em;
    font-family: 'Josefin Sans', sans-serif;
}

.article3 h2{
    font-size: 2em;
}

.article3 h4{
    position: relative;
    display: block;
    top:15px;
    font-weight: 100;
}

.article3 h5{
    position: relative;
    display: block;
    top:28px;
    font-size: 17px;
}

.imagen3{
    position: relative;
    display: block;
    width: 100px;
    height: 200px;
    left: 20em;
}


.article3 img{
    position: relative;
    display: block;
    width: 250px;
    height: 150px;
    left: 13em;
    bottom: 7em;
}


