
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
}

/*
==============================================================================
======================= NAVBAR ===============================================
==============================================================================*/

body{
    /*    background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url(../images/bloodborneBack.jpeg);
        background-size: cover;
        background-position: center;*/
}

.hero{
    height: 8em;
    background-color: #1d1d1d;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 2%;
    padding-left: 10%;
    padding-right: 10%;
    font-size: 20px;
}

.logoG{
    color: white;
    font-size: 28px;
}

span{
    color: #ea1538;
}

nav ul li{
    list-style-type: none;
    display: inline-block;
    padding: 10px 20px;
}

nav ul li a{
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover{
    color: #ea1538;
    transition: .3s;
}

button{
    border: none;
    background: #ea1538;
    padding: 12px 30px;
    border-radius: 30px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    transition: .4s;
}

button:hover{
    transform: scale(1.3);
    cursor: pointer;
}






/*
==============================================================================
======================= FOOTER ===============================================
==============================================================================*/

body{
    font-family: 'Segoe UI';
    font-weight: 400;
    background-color: #ededed;
}

.footer{
    padding: 40px 0;
    background-color: #fff;
    display: block;
}

.footer .social{
    text-align: center;
    padding-bottom: 25px;
    color: #4b4c4d;
}

.footer .social a{ 
    font-size: 24px; 
    color: inherit; 
    border: 1px solid #ccc;
    width: 40px; 
    height: 40px; 
    line-height: 38px; 
    display: inline-block; 
    text-align: center;
    border-radius: 50%;
    margin: 0 8px;
    opacity: 0.75;

}

.footer .social a i{ 
    top: 7px;
    display: inline-block; 
    position: relative;


}

.footer .social a:hover{
    opacity: 0.9;
}

.footer ul{
    margin-top: 0;
    padding: 0;
    list-style: none;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 0;
    text-align: center;
}

.footer ul li a{
    color: inherit;
    text-decoration: none;
    opacity: 0.8;
}

.footer ul li{
    display: inline-block;
    padding: 0 15px;
}

.footer ul li a:hover{
    opacity: 1;
}

.footer .copyright{
    margin-top: 15px;
    text-align: center;
    font-size: 13px;
    color: #aaa;
}

/*
==============================================================================
======================= CAROUSEL =============================================
==============================================================================*/
#carouselExampleCaptions{
    height: 700px;
}

.carousel-inner{
    height: 700px;
}

.carousel-inner img{
    height: 700px;
}

/*Splash screen*/
.intro{
    position:fixed;
    z-index:1;
    left:0;
    top:0;
    width:100%;
    height:100vh;
    background-color:#161616;
    transition:1s;
}

.logo-header{
    position:absolute;
    top:40%;
    left:50%;
    transform:translate(-50%,-50%);
    color:#ffffff;
}

.logo{
    position:relative;
    display:inline-block;
    bottom:-20px;
    opacity:0;
}

.logo.active{
    bottom:0;
    opacity:1;
    transition:ease-in-out 0.5s;
}

.logo.fade{
    bottom:150px;
    opacity:0;
    transition:ease-in-out 0.5s;
}