<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"> 
    <head>
        <title>Golden Toad</title>
        <link rel="stylesheet" href="css/about.css"> <!-- LLamado de la hoja de diseno CSS-->

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap" rel="stylesheet">

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500&display=swap" rel="stylesheet">
    </head>

    <body>

        <div class="nav-bar">

            <div class="logo">
                <img src="images/logo.png" alt="banner"/>
            </div>
            <nav>
                <ul>
                    <li class="home" th:text="#{about.titulo}"><a href="home.html">Home</a></li>
                    <li th:text="#{about.titulo1}"><a href="portafolio">Portafolio</a></li>
                    <li th:text="#{about.titulo2}"><a href="news">News</a></li>
                    <li th:text="#{about.titulo3}"><a href="login">Login</a></li>
                    <li th:text="#{about.titulo4}"><a href="contact">Contact</a></li>
                    <li th:text="#{about.titulo5}"><a href="about">About</a></li>
                    <li th:text="#{about.titulo6}"><a href="help">Help</a></li>
                </ul>

                <div class =" nombre">
                    <h1>Golden Toad</h1>
                </div>
            </nav>
        </div>

        <div class='content'>
            <div class="us">
                
                
                <h1 th:text="#{about.titulo}">Who are we?</h1>
                <td th:text="${getDescrip}"></td> 
                
               <!-- <p>We are a small company in Costa Rica. We believe that no matter where you come from,
                    you can fulfill your dreams and be part of something big.</p> -->
            </div>

            <div class="history">
                <h2 th:text="#{about.titulo8}">Where it all started?</h2>
                <p th:text="#{about.texto}">
                    Isaac the founder of Golden Toad, had a dream to start his own company, 
                    so he started designing his first official video game "Broken Dreams",
                    he traveled to Miami to a conference in which he presented his game and the rest is history.
                </p>
            </div>
            
            <div class="services">
                <h2 th:text="#{about.titulo9}">What do we have to offer?</h2>
                <p  th:text="#{about.texto1}">
                    Our services are totally aimed at video game development, 
                    with the Unreal Engine 5 tool, in which we have many
                </p>
            </div>




        </div>
        
        
          <footer th:fragment="footer">
            <div class="container">
                <footer class="py-3 my-4">
                
                        <li class="nav-item"><a th:with="urlBuilder=${T(org.springframework.web.servlet.support.ServletUriComponentsBuilder).fromCurrentRequest()}"
                                                th:href="${urlBuilder.replaceQueryParam('lang','es').toUriString()}"
                                                class="nav-link px-2 text-muted">ES</a></li>
                        <li class="nav-item"><a th:with="urlBuilder=${T(org.springframework.web.servlet.support.ServletUriComponentsBuilder).fromCurrentRequest()}"
                                                th:href="${urlBuilder.replaceQueryParam('lang','en').toUriString()}"
                                                class="nav-link px-2 text-muted">EN</a></li>
                
                 
                </footer>
            </div>
        </footer>

    </body>
</html>
