<!DOCTYPE html>
<html>
    <head th:replace="plantilla/templateFront::head"></head>
    <link rel="stylesheet" href="css/about.css">
</head>

<body>
    <header th:replace="plantilla/templateFront::header"></header>

    <div class="tabla">
        <h1 th:text="${titulo}"></h1>

        <table class="table table-dark table-striped">
            <thead class="thead-dark">
                <tr>
                    <th scope="col" th:text="#{articulo.id}"></th>
                    <th scope="col" th:text="#{about.nombre}"></th>
                    <th scope="col" th:text="#{about.apellido}"></th>
                    <th scope="col" th:text="#{about.descripcion}"></th>
                    <th scope="col" th:text="#{about.link}"></th>
                    <th scope="col" th:text="#{accion.editar}"></th>
                    <th scope="col" th:text="#{accion.eliminar}"></th>
                </tr>
            </thead>

            <tbody>

            <th:block th:each="user : ${about}">
                <tr>
                    <td th:text="${user.getId_about}"></td>
                    <td th:text="${user.getFirstname_a}"></td>
                    <td th:text="${user.getLastname_a}"></td>
                    <td th:text="${user.getDescrip}"></td>
                    <td th:text="${user.getLink}"></td>
                    <td>
                        <a th:href="@{/editarAbout/{id}(id=${user.getId_about})}">Edit</a>
                    </td>
                    <td>
                        <a th:href="@{/eliminarAbout/{id}(id=${user.getId_about})}">Delete</a>
                    </td> 
                </tr>
            </th:block>
            </tbody>


        </table>

    </div>

    <footer th:replace="plantilla/templateFront::footer"></footer>  
</body>
</html>
