
<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"> 
    <head>
    <head th:replace="plantilla/templateFront::head"></head>
    <link rel="stylesheet" href="css/contact.css">
</head>

<body>
    <header th:replace="plantilla/templateFront::header"></header>

    <div class ="content">
        <h1 th:text="#{contact.titulo}">Contact us</h1>
        <p th:text="#{contact.texto}">Help us grow as a company and follow us on our social networks to get more information about our products and let's talk!</p>


        <a href="https://www.facebook.com/Golden-Toad-Productions-108691398454996" target="_blank">
            <img src="images/facebook.png" class="logo1" alt="Facebook Logo">
        </a>
        <a href="https://www.instagram.com/goldentoadproductions/" target="_blank">
            <img src="images/instagram.png" class="logo2" alt="Instagram Logo" >
        </a>
        <a href="https://twitter.com/GoldenToadProd" target="_blank">
            <img src="images/twitter.png" class="logo3" alt="Twitter Logo">
        </a>
        <a href="mailto:isaac@goldentoadproductions.com" target="_blank">
            <img src="images/email.png" class="logo4" alt="Email Logo">
        </a>
    </div>

    <div class="video">
        <figure>
            <video width="700" height="440" controls>
                <source src="videos/trailer2.mp4" type="video/mp4">
            </video>
        </figure>
    </div>


    <div class="tabla">
        <table class="table table-dark table-striped">

            <tbody>

            <th:block th:each="user : ${contact}">

                <tr>
                <div class="card-body-about">
                    <img src="images/logo.png" class="img-about" alt=""> 
                    <!--<img th:src="${user.getLink}" class="img-about" alt="">--> 
                    <h5 class="title" th:text="${user.getName}"></h5>
                    <h5 class="title" th:text="${user.getEmail}"></h5>
                    <h5 class="title" th:text="${user.getPhone}"></h5>
                    <h5 class="title" th:text="${user.getContext}"></h5>

                    <a href="#" class="btn-about" th:text="#{accion.contactar}"></a>
                </div>  
                </tr>

                </div>  




            </th:block>
            </tbody>
        </table>
    </div>




    <footer th:replace="plantilla/templateFront::footer"></footer>
</body>
</html>