<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Golden Toad</title>
        <head th:replace="plantilla/templateFront::head"></head>
        <link rel="stylesheet" href="css/about.css">
    </head>

<body>
    <header th:replace="plantilla/templateFront::header"></header>
    
      <a sec:authorize="hasRole('ADMIN')" ></a>
    
    <div class="container">

        <div class="card-header bg-black text-white"> </div>
        <div class="card-body">

            <!-------------------Esto es un Formulario--------------- -->

            <div class="container">
                <form th:object = "${projects}"
                      th:action="@{/saveProjects}"
                      method="POST">

                    <!--------------------------- -->
                    <div class="form-group mb-3 row">

                    </div>

                    <!---------------------------------------------------------------------------------------------------------------------------- -->
                    <input type="hidden" th:field="*{id_projects}">
                    <div class="form-group mb-3 row">
                        <label class="col-md-2 col-form-label" for="title">Title</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control form-control-sm col-md-6" th:field="*{title}" placeholder= "Titulo Project" id="title" aria-describedby="emailHelp">
                        </div>
                    </div>
                    <!---------------------------------------------------------------------------------------------------------------------------- -->
                    <div class="form-group mb-3 row">
                        <label class="form-control-sm col-md-2 col-form-label" for="descrip">Descripcion</label>
                        <div class="col-sm-10">
                            <input type="text" th:field="*{descrip}" class="form-control form-control-sm col-md-6" placeholder= "descripcion" id="descrip" aria-describedby="emailHelp">
                        </div>
                    </div>

                    <div class="form-group mb-3 row">
                        <label class="form-control-sm col-md-2 col-form-label" for="descrip">Specs</label>
                        <div class="col-sm-10">
                            <input type="text" th:field="*{specs}" class="form-control form-control-sm col-md-6" placeholder= "especificaciones" id="specs" aria-describedby="emailHelp">
                        </div>
                    </div>
                    
                     <div class="form-group mb-3 row">
                        <label class="form-control-sm col-md-2 col-form-label" for="descrip">Link</label>
                        <div class="col-sm-10">
                            <input type="text" th:field="*{link}" class="form-control form-control-sm col-md-6" placeholder= "link" id="link" aria-describedby="emailHelp">
                        </div>
                    </div>

                    <!--------------------------------------------------------------------------- -->
                    <div class="d-grid gap-2 col-6 mx-auto">
                        <button class="btn btn-primary" value="Guardar" type="submit">Submit</button>
                    </div>
                    <!--------------------------------------------------------------------------- -->

                </form>
            </div>
        </div>
    </div>
    <footer th:replace="plantilla/templateFront::footer"></footer>  
</body>
</html>