<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <head th:replace="plantilla/templateFront::head"></head>
        <link rel="stylesheet" href="css/templateFront.css">
        
    </head>
    <body>
        
        <header th:replace="plantilla/templateFront::header"></header>
        
          <a sec:authorize="hasRole('ADMIN')" ></a>
        
        <div class="container">

            <div class="card-header bg-black text-white"> </div>
            <div class="card-body">

                <!-------------------Esto es un Formulario--------------- -->
                <div class="container">
                    <form th:object = "${about}"
                          th:action="@{/guardarAbout}"
                          method="POST">

                        <!--------------------------- -->
                        <div class="form-group mb-3 row">

                        </div>

                        <!---------------------------------------------------------------------------------------------------------------------------- -->
                        <input type="hidden" th:field="*{id_about}">
                        <div class="form-group mb-3 row">
                            <label class="col-md-2 col-form-label" for="nombre">Nombre</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control form-control-sm col-md-6" th:field="*{firstname_a}" placeholder= "Nombre" id="firstname_a" aria-describedby="emailHelp">
                            </div>
                        </div>

                        <!---------------------------------------------------------------------------------------------------------------------------- -->
                        <div class="form-group mb-3 row">
                            <label class="form-control-sm col-md-2 col-form-label" for="lastname">Lastname</label>
                            <div class="col-sm-10">
                                <input type="text" th:field="*{lastname_a}" class="form-control form-control-sm col-md-6" placeholder= "Lastname" id="lastname_a" aria-describedby="emailHelp">
                            </div>
                        </div>

                        <!---------------------------------------------------------------------------------------------------------------------------- -->
                        <div class="form-group mb-3 row">
                            <label class="form-control-sm col-form-label col-md-2" for="link">Description</label>
                            <div class="col-sm-10">
                                <input type="text" th:field="*{descrip}" class="form-control form-control-sm col-md-6" placeholder= "Description" id="descrip" aria-describedby="emailHelp">
                            </div>
                        </div>
                        <!---------------------------------------------------------------------------------------------------------------------------- -->
                        <div class="form-group mb-3 row">
                            <label class="form-control-sm col-form-label col-md-2" for="link">Link</label>
                            <div class="col-sm-10">
                                <input type="text" th:field="*{link}" class="form-control form-control-sm col-md-6" placeholder= "Link" id="link" aria-describedby="emailHelp">
                            </div>
                        </div>
                        <!---------------------------------------------------------------------------------------------------------------------------- -->
                        <!--------------------------------------------------------------------------- -->
                        <div class="d-grid gap-2 col-6 mx-auto">
                            <button class="btn btn-primary" value="Guardar" type="submit">Submit</button>
                        </div>
                        <!--------------------------------------------------------------------------- -->
                        
                    </form>
                </div>
            </div>
        </div>
        <footer th:replace="plantilla/templateFront::footer"></footer> 
    </body>
</html>
