<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Golden Toad</title>
        <head th:replace="plantilla/templateFront::head"></head>
        <link rel="stylesheet" href="css/about.css">
    </head>
    <body>
        <header th:replace="plantilla/templateFront::header"></header>
        
        <div class="container">

            <div class="card-header bg-black text-white"> </div>
            <div class="card-body">

                <!-------------------Esto es un Formulario--------------- -->
                <div class="container">
                    <form th:object = "${news}"
                          th:action="@{/guardarNews}"
                          method="POST">

                        <!--------------------------- -->
                        <div class="form-group mb-3 row">

                        </div>

                        <!---------------------------------------------------------------------------------------------------------------------------- -->
                        <input type="hidden" th:field="*{id_news}">
                        <div class="form-group mb-3 row">
                            <label class="col-md-2 col-form-label" for="nombre">Title</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control form-control-sm col-md-6" th:field="*{title}" placeholder= "Titulo Noticia" id="news" aria-describedby="emailHelp">
                            </div>
                        </div>

                        <!---------------------------------------------------------------------------------------------------------------------------- -->
                        <div class="form-group mb-3 row">
                            <label class="form-control-sm col-md-2 col-form-label" for="subTitle">Descripcion</label>
                            <div class="col-sm-10">
                                <input type="text" th:field="*{subtitle}" class="form-control form-control-sm col-md-6" placeholder= "Descripcion" id="descrip" aria-describedby="emailHelp">
                            </div>
                        </div>

                        <!---------------------------------------------------------------------------------------------------------------------------- -->
                        <div class="form-group mb-3 row">
                            <label class="form-control-sm col-form-label col-md-2" for="link">Release</label>
                            <div class="col-sm-10">
                                <input type="text" th:field="*{link}" class="form-control form-control-sm col-md-6" placeholder= "Image" id="release" aria-describedby="emailHelp">
                            </div>
                        </div>

                        <!---------------------------------------------------------------------------------------------------------------------------- -->
                        <!--------------------------------------------------------------------------- -->
                        <div class="d-grid gap-2 col-6 mx-auto">
                            <button class="btn btn-primary" value="Guardar" type="submit">Submit</button>
                        </div>
                        <!--------------------------------------------------------------------------- -->
                        
                    </form>
                </div>
            </div>
        </div>
        
        <footer th:replace="plantilla/templateFront::footer"></footer>  
    </body>
</html>
