<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"> 
    <head>
        <link rel="stylesheet" href="css/help.css">
    <head th:replace="plantilla/templateFront::head"></head>
</head>

<body>
    <header th:replace="plantilla/templateFront::header"></header>

    <div class="form">
        <form th:object = "${helpform}"
              th:action="@{/saveHelp}"
              method="POST">

            <input type="hidden" th:field="*{id_helpform}">

            <section class="form-help">

                <!-- <h4 th:text="#help.titulo8">Help Form</h4> -->

                <input class="controls" type="text" name="nombres "  th:field="*{firstname}" id="nombres" placeholder="Enter your firstname">
                <input class="controls" type="text" name="apellidos " th:field="*{lastname}" id="apellidos" placeholder="Enter your lastname">
                <input class="controls" type="email" name="correo " th:field="*{email}" id="correo" placeholder="Enter your email">
                <input class="controls" type="tel" name="numero " th:field="*{phone}" id="numero" placeholder="Enter your phone number">
                <input  class="controls" type="text" name="detalle " th:field="*{descrip}" id="detalle" placeholder="How can I help you?">
                <p>I agree with <a href='#'>Terms and Conditions </a></p>

                <button class="botons" value="Guardar" type="submit">Submit</button>
            </section>

        </form>

    </div>
    
    <footer th:replace="plantilla/templateFront::footer"></footer>
    
</body>
</html>
