<html xmlns:th="http://www.thymeleaf.org"> 
    <head>
        <title>Golden Toad</title>
        <link rel="stylesheet" href="css/home.css"> <!-- LLamado de la hoja de diseno CSS-->

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap" rel="stylesheet">

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500&display=swap" rel="stylesheet">
    </head>

    <body>

        <div class="nav-bar">

            <div class="logo">
                <img src="images/logo.png" alt="banner"/>
            </div>

            <nav>
                <ul>
                    <li class="nav-item">
                        <!--                          <a th:href="@{~/profile/index}">Home</a></li>-->

                    <li> <a th:text="#{home.titulo7}" th:href="home"></a></li>
                    <li> <a th:text="#{home.titulo1}" th:href="portafolio"></a></li>
                    <!--                    <li th:text="#{home.titulo1}"><a href="portafolio.html">Portafolio</a></li>-->
                    <!--                    <li th:text="#{home.titulo2}"><a href="news.html">News</a></li>-->
                    <li> <a th:text="#{home.titulo2}" th:href="news.html"></a></li>
                    <!--                    <li th:text="#{home.titulo3}"><a href="login.html">Login</a></li>-->
                    <li> <a th:text="#{home.titulo3}" th:href="login.html"></a></li>
                    <!--                    <li th:text="#{home.titulo4}"><a href="contact.html">Contact</a></li>-->
                    <li> <a th:text="#{home.titulo4}" th:href="contact"></a></li>
                    <!--                    <li th:text="#{home.titulo5}"><a href="about.html">About</a></li>-->
                    <li> <a th:text="#{home.titulo5}" th:href="about.html"></a></li>
                    <!--                    <li th:text="#{home.titulo6}"><a href="help.html">Help</a></li>-->
                    <li> <a th:text="#{home.titulo6}" th:href="help.html"></a></li>
                </ul>

                <div class="nombre">
                    <h1>Golden Toad</h1>
                </div>
            </nav>
        </div>

        <div class="content">
            <h1 th:text="#{home.titulo8}">Game Development Company</h1>
            <p th:text="#{home.texto}">Golden Toad - is a company that develops video games founded by gamers, 
                our policy is to develop with the best tools on the market such as 
                Unreal Engine 5 to obtain the best possible software quality.</p>
            <img src="images/pcGaming.jpg" class='imagen' alt="banner"/>

        </div>

        <footer th:fragment="footer">
            <div class="container">
                <footer class="py-3 my-4">

                    <li class="nav-item"><a th:with="urlBuilder=${T(org.springframework.web.servlet.support.ServletUriComponentsBuilder).fromCurrentRequest()}"
                                            th:href="${urlBuilder.replaceQueryParam('lang','es').toUriString()}"
                                            class="nav-link px-2 text-muted">ES</a></li>
                    <li class="nav-item"><a th:with="urlBuilder=${T(org.springframework.web.servlet.support.ServletUriComponentsBuilder).fromCurrentRequest()}"
                                            th:href="${urlBuilder.replaceQueryParam('lang','en').toUriString()}"
                                            class="nav-link px-2 text-muted">EN</a></li>


                </footer>
            </div>
        </footer>


    </body>

</html>
