<html xmlns:th="http://www.thymeleaf.org"> 

    <head th:replace="plantilla/templateFront::head"></head>

    <body>
        <header th:replace="plantilla/templateFront::header"></header>

        <div class="intro">
            <h1 class="logo-header">
                <span class="logo">Golden</span><span class="logo">Toad.</span>
            </h1>
        </div>

        <script src="js/app.js"></script>

        <footer th:replace="plantilla/templateFront::footer"></footer>

    </body>

</html>
