<html>
    <head>
    <head th:replace="plantilla/templateFront::head"></head>
    <link rel="stylesheet" href="css/merch.css">
</head>
<body>
    <header th:replace="plantilla/templateFront::header"></header>
    
    <div class="container">

        <div class="card-body-about">
            <img src="images/hatW.png" class="img-about" alt=""> 
            <h5 class="title">White hat</h5>
            <p class="descrip">Golden Toad white hat.</p>
            <a href="#" class="btn-about">Buy</a>
        </div>
        
        <div class="card-body-about">
            <img src="images/hatB.png" class="img-about" alt=""> 
            <h5 class="title">Black hat</h5>
            <p class="descrip">Golden Toad Black hat.</p>
            <a href="#" class="btn-about">Buy</a>
        </div>
        
        <div class="card-body-about">
            <img src="images/hoodieW.png" class="img-about" alt=""> 
            <h5 class="title">White hoodie</h5>
            <p class="descrip">Golden Toad white hoodie.</p>
            <a href="#" class="btn-about">Buy</a>
        </div>
        
        <div class="card-body-about">
            <img src="images/t-shirtB.png" class="img-about" alt=""> 
            <h5 class="title">Black T-shirt</h5>
            <p class="descrip">Golden Toad Black T-shirt.</p>
            <a href="#" class="btn-about">Buy</a>
        </div>
        
    </div>
    
    <footer th:replace="plantilla/templateFront::footer"></footer>
</body>
</html>
