<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
    <head th:replace="plantilla/templateFront::head"></head>
    <link rel="stylesheet" href="css/news.css">
</head>

<body>
    <header th:replace="plantilla/templateFront::header"></header>

    <div class="noticia1">


        <div class="importante">
            <h1 th:text="#{news.texto}">THE IMPORTANT:</h1>
        </div>

        <div class="titulo">
            <h1 th:text="#{news.texto1}">Broken Dreams</h1>
        </div>


        <div class="text">
            <p th:text="#{news.texto2}">
                What are the new updates for Broken Dreams?
            </p>
        </div>

        <div class="boton">
            <input class="botons" type= "submit" value="MORE..">
        </div>

    </div>

    <div class="recentarticles">
        <div>
            <h1 th:text="#{news.texto3}">

            </h1>
        </div>
        <div class="separador">
        </div>

        <!--------------------------------------------------------------------->
        <!----------------------News Image Form Text--------------------------->
        <!--------------------------------------------------------------------->
        <div class="noticias">
            <table class="table table-dark table-striped">
                <thead class="thead-dark">
                    <tr style="display: none;">
                        <th scope="col" th:text="#{articulo.titulo_news}"></th>
                        <th scope="col" th:text="#{articulo.descripcion}"></th>
                        <th scope="col" th:text="#{articulo.fechasalida}"></th>
                        <th scope="col" th:text="#{articulo.newsid}"></th>
                    </tr>
                </thead>
                <tbody>

                <th:block th:each="user : ${news}">
                    <tr style="display: none;">

                        <td th:text="${user.getTitle}"></td>
                        <td th:text="${user.getSubtitle}"></td>
                        <td th:text="${user.getLink}"></td>
                        <td th:text="${user.getId_news}"></td>

                        <td>
                            <a th:href="@{/editNews/{id}(id=${user.getId_news})}">Edit</a>
                        <td>
                        <td>
                            <a th:href="@{/eliminarNews/{id}(id=${user.getId_news})}">Delete</a>
                        </td> 
                    </tr>

                    <tr>
                    <div class="separador">
                        <div class="card mb-3" style="max-width: 540px;">
                            <div class="row g-0">
                                <div class="col-md-4">
                                    <img th:src="${user.getLink}" class="img-fluid rounded-start" alt="banner">
                                </div>
                                <div class="col-md-8">
                                    <div class="card-body">
                                        <h5 class="card-title" th:text="${user.getTitle}"></h5>
                                        <p ng-repeat="news"></p>
                                        <p class="card-text"><small class="text-muted" th:text="${user.getSubtitle}"></p>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> 
                    </tr>

                </th:block>
                </tbody>
            </table> 
        </div>


        <!--------------------------------------------------------------------->
        <!--------------------------------------------------------------------->

    </div>
    <!-- <footer th:replace="plantilla/templateFront::footer"></footer> -->
  </body>
</html>


