<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="plantilla/template::head"></head>
    <body>
        <table class="table table-dark table-striped">
            <thead class="thead-dark">
                <tr style="display: none;">
                    <th scope="col" th:text="#{articulo.titulo_news}"></th>
                    <th scope="col" th:text="#{articulo.descripcion}"></th>
                    <th scope="col" th:text="#{articulo.fechasalida}"></th>
                    <th scope="col" th:text="#{articulo.newsid}"></th>
                </tr>
            </thead>
            <tbody>

            <th:block th:each="user : ${news}">
                <tr style="display: none;">

                    <td th:text="${user.getTitle}"></td>
                    <td th:text="${user.getSubtitle}"></td>
                    <td th:text="${user.getLink}"></td>
                    <td th:text="${user.getId_news}"></td>

                    <td>
                        <a th:href="@{/editNews/{id}(id=${user.getId_news})}">Edit</a>
                    <td>
                    <td>
                        <a th:href="@{/delete/{id}(id=${user.getId_news})}">Delete</a>
                    </td> 

                <div>

                </div>
                </tr>

                <tr>
                   <div class="card mb-3" style="max-width: 540px;">
                       <div class="row g-0">
                           <div class="col-md-4">
                               <img src="images/rocketleague.jpg" class="img-fluid rounded-start" alt="banner">
                           </div>
                           <div class="col-md-8">
                               <div class="card-body">
                                   <h5 class="card-title" th:text="${user.getTitle}"></h5>
                                   <p ng-repeat="news" class="card-text"></p>
                                   <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>

                               </div>
                           </div>
                       </div>
                   </div>
                </tr>

            </th:block>
        </tbody>
    </table>

    <footer th:replace="plantilla/template::footer">

    </footer>
</html>
