<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
     <head>
        <title>Golden Toad</title>
        <head th:replace="plantilla/templateFront::head"></head>
        
    </head>
    <body>
        <header th:replace="plantilla/templateFront::header"></header>
          <a sec:authorize="hasRole('ADMIN')" ></a>
       
          
          <h1 th:text="${titulo}"></h1>
        <table class="table table-dark table-striped">
            <thead class="thead-dark">
                <tr>
                    <th scope="col" th:text="#{articulo.titulo_news}"></th>
                    <th scope="col" th:text="#{articulo.descripcion}"></th>
                    <th scope="col" th:text="#{articulo.fechasalida}"></th>
                    <th scope="col" th:text="#{articulo.newsid}"></th>
                     <th scope="col" ></th>
                      <th scope="col"></th>
                      <th scope="col"></th>
                </tr>
            </thead>
            <tbody>

            <th:block th:each="user : ${news}">
                <tr>

                    <td th:text="${user.getTitle}"></td>
                    <td th:text="${user.getSubtitle}"></td>
                    <td th:text="${user.getLink}"></td>
                    <td th:text="${user.getId_news}"></td>

                    <td>
                        <a th:href="@{/editNews/{id}(id=${user.getId_news})}">Edit</a>
                    <td>
                    <td>
                        <a th:href="@{/eliminarNews/{id}(id=${user.getId_news})}">Delete</a>
                    </td> 
                </tr>
            </th:block>
        </tbody>
    </table>
        
        <footer th:replace="plantilla/templateFront::footer">
           
        </footer>
</html>