
<html xmlns:th="http://www.thymeleaf.org"> 
    <head>
    <head th:replace="plantilla/templateFront::head"></head>
    <link rel="stylesheet" href="css/portafolio.css">
</head>

<body>
    <header th:replace="plantilla/templateFront::header"></header>
    <div class="body-portfolio">

        <div class="container">
            <div class="card">
                <figure>
                    <img src="images/imgEscaleras.png"> 
                </figure>
                <div class="contenido">
                    <h3>Broken Dreams</h3>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime mollitia,
                        molestiae quas vel sint commodi repudiandae consequuntur voluptatum laborum
                    </p>
                    <a href="#">Leer mas</a>
                </div>
            </div>
            
            <div class="card">
                <figure>
                    <img src="images/clowns.jpg"> 
                </figure>
                <div class="contenido">
                    <h3>Dead Clowns</h3>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime mollitia,
                        molestiae quas vel sint commodi repudiandae consequuntur voluptatum laborum
                    </p>
                    <a href="#">Leer mas</a>
                </div>
            </div>
            
            <div class="card">
                <figure>
                    <img src="images/rocketleague.jpg"> 
                </figure>
                <div class="contenido">
                    <h3>Rocket League</h3>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime mollitia,
                        molestiae quas vel sint commodi repudiandae consequuntur voluptatum laborum
                    </p>
                    <a href="#">Leer mas</a>
                </div>
            </div>
        </div>

        <!-- <div class="tarjetas">
                <div class="row">
    
    
                    <div class="col-sm-6">
                        <div class="card border-primary mb-3" style="max-width: 18rem;">
                            <img src="images/desarrollo.jpeg" class="card-img-top" alt="desarrollo">
                            <div class="card-body">
                                <h5 class="card-title">Status:</h5>
                                <p class="card-text">In development.</p>
                            </div>
                        </div>
                    </div>
    
    
                    <br></br>
    
                    <div class="col-sm-6">
                        <div class="card border-secondary mb-3" style="max-width: 18rem;">
                            <img src="images/windows.jpeg" class="card-img-top" alt="windows">
                            <div class="card-body">
                                <h5 class="card-title">Plataforms:</h5>
                                <p class="card-text">Windows.</p>
    
                            </div>
                        </div>
                    </div>
                    <br></br>
                    <div class="col-sm-6">
                        <div class="card border-success mb-3" style="max-width: 18rem;">
                            <img src="images/isaac.jpg" class="card-img-top" alt="isaac">
                            <div class="card-body">
                                <h5 class="card-title">Author:</h5>
                                <p class="card-text">Isaac Chaves.</p>
    
                            </div>
                        </div>
                    </div>
                    <br></br>
                    <div class="col-sm-6">
                        <div class="card border-info mb-3" style="max-width: 18rem;">
                            <img src="images/action.jpeg" class="card-img-top" alt="action">
                            <div class="card-body">
                                <h5 class="card-title">Genre:</h5>
                                <p class="card-text">Adventure, Puzzle.</p>
    
                            </div>
                        </div>
                    </div>
    
                    <br></br>
    
                    <div class="col-sm-6">
                        <div class="card border-danger mb-3" style="max-width: 18rem;">
                            <img src="images/unrealengine.jpeg" class="card-img-top" alt="unrealengine">
                            <div class="card-body">
                                <h5 class="card-title">Made with:</h5>
                                <p class="card-text">Unreal Engine.</p>
                            </div>
                        </div>
                    </div> 
    
                    <br></br>
                    <div class="col-sm-6">
                        <div class="card border-warning mb-3" style="max-width: 18rem;">
                            <img src="images/horror.jpeg" class="card-img-top" alt="horror">
                            <div class="card-body">
                                <h5 class="card-title">Tags:</h5>
                                <p class="card-text">Horror, Psychological Horror, Short, Singleplayer.</p>
    
                            </div>
                        </div>
                    </div>  
                    <br></br>
                    <div class="col-sm-6">
                        <div class="card border-info mb-3" style="max-width: 18rem;">
                            <img src="images/afewminutes.jpeg" class="card-img-top" alt="fewminutes">
                            <div class="card-body">
                                <h5 class="card-title">Average session:</h5>
                                <p class="card-text">A few minutes.</p>
    
                            </div>
                        </div>
                    </div>  
    
                    <br></br>
                    <div class="col-sm-6">
                        <div class="card border-warning mb-3" style="max-width: 18rem;">
                            <img src="images/idioma.png" class="card-img-top" alt="idioma">
                            <div class="card-body">
                                <h5 class="card-title">Language</h5>
                                <p class="card-text">English, Spanish, Latin America.</p>
    
                            </div>
                        </div>
                    </div>   
                    <br></br>
                    <div class="col-sm-6">
                        <div class="card border-danger mb-3" style="max-width: 18rem;">
                            <img src="images/controles.jpeg" class="card-img-top" alt="controles">
                            <div class="card-body">
                                <h5 class="card-title">Inputs:</h5>
                                <p class="card-text">Keyboard, Mouse, Xbox controller.</p>
    
                            </div>
                        </div>
                    </div>
    
                </div>
    
    
            </div> -->

        

        
    </div>
    <footer th:replace="plantilla/templateFront::footer"></footer>

</body>

</html>  
































