
<html xmlns:th="http://www.thymeleaf.org"> 
    <head>
    <head th:replace="plantilla/templateFront::head"></head>
    <link rel="stylesheet" href="css/portafolio.css">
</head>

<body>
    <header th:replace="plantilla/templateFront::header"></header>


    <div class="body-portfolio">

        <tbody>

        <th:block th:each="user : ${projects}">


            <div class="container">
                <div class="card">
                    <figure>
                        <img th:src="${user.getLink}" class="img-about" alt="" > 
                    </figure>
                    <div class="contenido">
                        <h3 class="title" th:text="${user.getTitle}"></h3>
                        <p class="descrip" th:text="${user.getDescrip}"></p>
                        <p class="descrip" th:text="${user.getSpecs}"></p>

                        <a href="#" class="btn-about" th:text="#{accion.leermas}"></a>
                    </div>

                </div>


            </div>

    </div>


    </th:block>
    </tbody>
    <footer th:replace="plantilla/templateFront::footer"></footer>

    </body>

    </html> 


        
































