
<html xmlns:th="http://www.thymeleaf.org"> 
    <head>
    <head th:replace="plantilla/templateFront::head"></head>
    <link rel="stylesheet" href="css/portafolio.css">
</head>

<body>
    <header th:replace="plantilla/templateFront::header"></header>
    <div class="body-portfolio">

        <div class="container">
            <div class="card">
                <figure>
                    <img src="images/imgEscaleras.png"> 
                </figure>
                <div class="contenido">
                    <h3>Broken Dreams</h3>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime mollitia,
                        molestiae quas vel sint commodi repudiandae consequuntur voluptatum laborum
                    </p>
                    <a href="#">Leer mas</a>
                </div>
            </div>
            
            <div class="card">
                <figure>
                    <img src="images/clowns.jpg"> 
                </figure>
                <div class="contenido">
                    <h3>Dead Clowns</h3>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime mollitia,
                        molestiae quas vel sint commodi repudiandae consequuntur voluptatum laborum
                    </p>
                    <a href="#">Leer mas</a>
                </div>
            </div>
            
            <div class="card">
                <figure>
                    <img src="images/rocketleague.jpg"> 
                </figure>
                <div class="contenido">
                    <h3>Rocket League</h3>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime mollitia,
                        molestiae quas vel sint commodi repudiandae consequuntur voluptatum laborum
                    </p>
                    <a href="#">Leer mas</a>
                </div>
            </div>
        </div>
       
    </div>
    <footer th:replace="plantilla/templateFront::footer"></footer>

</body>

</html>  
































