<!DOCTYPE html>

<html>
    <head>
        <title>Golden Toad</title>
        <link rel="stylesheet" href="css/help.css"> <!-- LLamado de la hoja de diseno CSS-->

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap" rel="stylesheet">

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500&display=swap" rel="stylesheet">
    </head>
    
    <body>
         <div class="nav-bar">

            <div class="logo">
                <img src="images/logo.png" alt="banner"/>
            </div>

            <nav>
                <ul>
                    <li class="home" th:text="#help.titulo7)"><a href="home.html">HOME</a></li>
                    <li th:text="#help.titulo1)"><a href="portafolio.html">PORTAFOLIO</a></li>
                    <li th:text="#help.titulo2)"><a href="news.html">NEWS</a></li>
                    <li th:text="#help.titulo3)"><a href="login.html">LOGIN</a></li>
                    <li th:text="#help.titulo4)"><a href="contact.html">CONTACT</a></li>
                    <li th:text="#help.titulo5)"><a href="about.html">ABOUT</a></li>
                    <li th:text="#help.titulo6)"><a href="help.html">HELP</a></li>
                </ul>

                <div class="nombre">
                    <h1>Golden Toad</h1>
                </div>
            </nav>
        </div>
        
        <section class="form-help">
            <h4 th:text="#help.titulo8)">Help Form</h4>
            <input class="controls" type="text" name="nombres " id="nombres" placeholder="Enter your name">
            <input class="controls" type="text" name="apellidos " id="apellidos" placeholder="Enter your lastname">
            <input class="controls" type="email" name="correo " id="correo" placeholder="Enter your email">
            <input class="controls" type="tel" name="numero " id="numero" placeholder="Enter your phone number">
            <input  class="controls" type="text" name="detalle " id="detalle" placeholder="How can I help you?">
            <p>I agree with <a href='#'>Terms and Conditions </a></p>
            <input class="botons" type= "submit" value="Send">
            
        </section>
        
    </body>
</html>
