<!DOCTYPE html>

<html>
    <head>
        <title>Golden Toad</title>
        <link rel="stylesheet" href="css/login.css"> <!-- LLamado de la hoja de diseno CSS-->

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap" rel="stylesheet">

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500&display=swap" rel="stylesheet">
    </head>

    <body>
        <div class="nav-bar">

            <div class="logo">
                <img src="images/logo.png" alt="banner"/>
            </div>

            <nav>
                <ul>
                    <li class="home"  th:text="#home.titulo7)"><a href="home.html">HOME</a></li>
                    <li th:text="#login.titulo1)"><a href="portafolio.html">PORTAFOLIO</a></li>
                    <li th:text="login.titulo2)"><a href="news.html">NEWS</a></li>
                    <li th:text="#login.titulo3)"><a href="login.html">LOGIN</a></li>
                    <li th:text="#login.titulo4)"><a href="contact.html">CONTACT</a></li>
                    <li th:text="#login.titulo5)"><a href="about.html">ABOUT</a></li>
                    <li th:text="#login.titulo6)"><a href="help.html">HELP</a></li>
                </ul>

                <div class="nombre">
                    <h1>Golden Toad</h1>
                </div>
            </nav>
        </div>

        <section class="form-login">
            <h4 th:text="#login.titulo8)">LOG IN</h4>
            <input class="controls" type="text" name="nombres " id="nombres" placeholder="Enter your nickname">
            <input class="controls" type="password" name="apellidos " id="apellidos" placeholder="Enter your password">
            <p>I agree with <a href='#'>Terms and Conditions </a></p>
            <input class="botons" type= "submit" value="Login">
            <p th:text="#login.texto)"><a href="#">Don't have an account?</a></p>
        </section>

    </body>
</html>





