<html>
    <head>
        <title>Golden Toad</title>
        <link rel="stylesheet" href="css/news.css"> <!-- LLamado de la hoja de diseno CSS-->

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap" rel="stylesheet">

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500&display=swap" rel="stylesheet">
    </head>

    <body>

        <div class="nav-bar">

            <div class="logo">
                <img src="images/logo.png" alt="banner"/>
            </div>

            <nav>
                <ul>
                    <li class="home" th:text="#{news.titulo7}"><a href="home.html">HOME</a></li>
                    <li th:text="#{news.titulo1}"><a href="portafolio.html">PORTAFOLIO</a></li>
                    <li th:text="#{news.titulo2}"><a href="news.html">NEWS</a></li>
                    <li th:text="#{news.titulo3}"><a href="login.html">LOGIN</a></li>
                    <li th:text="#{news.titulo4}"><a href="contact.html">CONTACT</a></li>
                    <li th:text="#{news.titulo5}"><a href="about.html">ABOUT</a></li>
                    <li th:text="#{news.titulo6}"><a href="help.html">HELP</a></li>
                </ul>

                <div class="nombre">
                    <h1>Golden Toad</h1>
                </div>
            </nav>
        </div>

        <div class="noticia1">
         
            
            <div class="importante">
                <h1 th:text="#{news.texto}">THE IMPORTANT:</h1>
            </div>

            <div class="titulo">
                <h1 th:text="#{news.texto1}">Broken Dreams</h1>
            </div>


            <div class="text">
                <p th:text="#{news.texto2}">
                    What are the new updates for Broken Dreams?
                </p>
            </div>
            
            <div class="boton">
                <input class="botons" type= "submit" value="MORE..">
            </div>
            
        </div>
        
        <div class="recentarticles">
            <h1 th:text="#{news.texto3}">
                RECENT ARTICLES
            </h1>
            
            <div class="article1">
                <h2 th:text="#{news.texto4}"> Resident Evil 4 Remake reimaginara la historia original. </h2>
                <h4 th:text="#{news.parrafo}">Capcom quiere satisfacer a los fans y dar un toque moderno 
                    al clasico del Survival Horror</h4>
                <h5 th:text="#{news.parrafo1}">08 de Junio</h5>
                
                <div class="imagen1">
                    <img src="images/resident1.jpg" alt="banner"/>
                </div>
            </div>
            
            <div class="article2">
                <h2 th:text="#{news.texto5}">El pasado y el futuro confluyen en Rocket League con el lanzamiento del Nissan Z.</h2>
                <h5 th:text="#{news.parrafo2}">05 de Septiembre</h5>
                
                <div class="imagen2">
                    <img src="images/rocketleague.jpg" alt="banner"/>
                </div>
            </div>
            
            <div class="article3">
                <h2 th:text="#{news.texto6}">New Destiny 2 Patch Significantly Changes Warlock Solar Aspect</h2>
                <h4 th:text="#{news.parrafo3}">Other changes include added scorch stacks to Warlock and Titan 
                    abilities and the end of everyone's 
                    favorite Legendary Shard farm.</h4>
                <h5  th:text="#{news.parrafo4}">12 de Abril</h5>
                
                
                <div class="imagen3">
                    <img src="images/newdestiny.jpg" alt="banner"/>
                </div>
            </div>
            
            
        </div>


    </body>
</html>
