
<html>
    <head>
        <title th:text="#(portafolio.titulo)">Golden Toad</title>
        <link rel="stylesheet" href="css/portafolio.css"> <!-- LLamado de la hoja de diseno CSS-->

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap" rel="stylesheet">

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500&display=swap" rel="stylesheet">

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Creepster&display=swap" rel="stylesheet">
    </head>

    <body>

        <div class="nav-bar">

            <div class="logo">
                <img src="images/logo.png" alt="banner"/>
            </div>

            <nav>
                <ul>
                    <li class="home" th:text="#(portafolio.titulo7)"><a href="home.html">HOME</a></li>
                    <li th:text="#(portafolio.titulo1)"><a href="portafolio.html">PORTAFOLIO</a></li>
                    <li th:text="#(portafolio.titulo2)"><a href="news.html">NEWS</a></li>
                    <li th:text="#(portafolio.titulo3)"><a href="login.html">LOGIN</a></li>
                    <li th:text="#(portafolio.titulo4)"><a href="contact.html">CONTACT</a></li>
                    <li th:text="#(portafolio.titulo5)"><a href="about.html">ABOUT</a></li>
                    <li th:text="#(portafolio.titulo6)"><a href="help.html">HELP</a></li>
                </ul>

                <div class="nombre">
                    <h1>Golden Toad</h1>
                </div>
            </nav>
        </div>

        <div class="juego"> 
            <div>
                <h1>Broken Dreams</h1>
            </div>

            <div>
                <p th:text="#(portafolio.texto)">
                    An adventure/horror game inspired in little nightmares and silent hill. 
                    Game in development, early access. English/Spanish supported, more languages soon.
                </p>
            </div>
            
            <div class="information">
                <p th:text="#(portafolio.texto1)">Status: In development </p>
                <h4 th:text="#(portafolio.texto2)">Status: In development</h4>
                <h4 th:text="#(portafolio.texto3)">Plataforms: Windows</h4>
                <h4 th:text="#(portafolio.texto4)">Author: Isaac Chaves</h4>
                <h4 th:text="#(portafolio.texto5)">Genre: Adventure, Puzzle</h4>
                <h4 th:text="#(portafolio.texto6)">Made with: Unreal Engine</h4>
                <h4 th:text="#(portafolio.texto7)">Tags: Horror, Psychological Horror, Short, Singleplayer</h4>
                <h4 th:text="#(portafolio.texto8)">Average session: A few minutes</h4>
                <h4 th:text="#(portafolio.texto9)">Language: English, Spanish, Latin America</h4>
                <h4 th:text="#(portafolio.texto10)">Inputs: Keyboard, Mouse, Xbox controller</h4>
                

            </div>

        </div>

        <div class="video">
            <figure>
                <video width="700" height="440" controls>
                    <source src="videos/trailer2.mp4" type="video/mp4">
                </video>
            </figure>
        </div>

    </body>
</html>